* {
    margin: 0px;
}

.row {
    display: flex;
    justify-content: space-between;
}

.col {
    flex: 1;
    
    background-color: rgb(255, 0, 0);
    border: 1px solid black;
    text-align: center;
    margin-top: 10px;
    height: 50px;

}

.col-2 {
    flex: 2;
    
    background-color: rgb(255, 0, 0);
    border: 1px solid black;
    text-align: center;
    margin-top: 10px;
    height: 50px;
}

.col-3 {
    flex: 3;
    
    background-color: rgb(255, 0, 0);
    border: 1px solid black;
    text-align: center;
    margin-top: 10px;
    height: 50px;
}